python/arizonacrypt_signature.dtd


    <!ELEMENT SIGNED_FILE (HEADER, FILE)>

    <!ATTLIST SIGNED_FILE SIGNEDHASH CDATA #REQUIRED 
                          PUBLICKEY CDATA ""
                          SIGNATURE_ALGORITHM CDATA #REQUIRED
    >

    <!ELEMENT HEADER EMPTY>

    <!ATTLIST HEADER TIMESTAMP CDATA #REQUIRED
                        DURATION CDATA #REQUIRED
    >

    <!ELEMENT FILE (#PCDATA)>

    <!ATTLIST FILE ENCODING CDATA #REQUIRED>


