python/groups.dtd

    <!ELEMENT GROUPS (GROUP)*>
    <!ELEMENT GROUP (INCLUDE | EXCLUDE | INTERSECT)*>
    <!ATTLIST GROUP NAME CDATA #REQUIRED>

    <!ELEMENT INCLUDE EMPTY>
    <!ATTLIST INCLUDE NAME CDATA #REQUIRED>

    <!ELEMENT EXCLUDE EMPTY>
    <!ATTLIST EXCLUDE NAME CDATA #REQUIRED>

    <!ELEMENT INTERSECT EMPTY>
    <!ATTLIST INTERSECT NAME CDATA #REQUIRED>

